@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background-login{
    width: 100%;
    margin: 0 auto;
}



.container-login {
    width: 100%;
    min-height: 100vh;    /* 1vh=1/100 khung hinh*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #001C40;
    border-bottom-left-radius: 100%;
    background-size: cover;
  }

  .wrap-login {
    width: 960px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 100px 50px 100px;
    box-shadow: 1px 1px 10px #00000070;
  }
  

  .login-pic {
    width: 316px;
  }
  .login-pic img {
    max-width: 350px;
    display: block;
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
  }
  /*------------------------------------------------------------------ */
  .login-form {
    width: 300px;
  }
  .login-form-title {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: black;
    line-height: 1.9;
    text-align: center;
    font-weight: 900;
    width: 100%;
    display: block;
    padding-bottom: 30px;
  
  }

  .wrap-input {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
  }
  
  .input {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #000000;
    display: block;
    width: 100%;
    background: #f5f5f5;
    height: 45px;
    border-radius: .375rem;
    padding: 0 30px 0 68px;
    border: 1px solid #d4d4d4;
  }
  .input:active , .input:focus{
    background: #fff;
    border: 1px solid #FFD43B !important;
  }
  .bx {
    font-size: 17px;
  }

